[Oo]bjects/
[Oo][Bb][Jj]*/
[Ll]istings/
[Dd]ebug[Cc]onfig/
*.si4project/
[Jj]Link*.*
*.uvguix.*
*.uvoptx
*.dbgconf
*.[Tt][Mm][Pp]
*.scvd
*.[Mm][Aa][Pp]
~$*.*
*.lst
*.o
*.d
*.htm
*.crf
*.sdf
*.opensdf
ipch/
Debug/
Release/